LunarAutonomyChallenge/Leaderboard/
LunarAutonomyChallenge/LunarSimulator/
LunarAutonomyChallenge/docs/
LunarAutonomyChallenge/archive/
LunarAutonomyChallenge/docker/
LunarAutonomyChallenge/wheelhouse/
LunarAutonomyChallenge/results/
*.h5